<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>TopSpaceMaven</display-name>
	
	<listener>
		<listener-class>com.topspace.core.framework.listener.ApplicationStart</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.topspace.core.framework.session.SessionListener</listener-class>
	</listener>
  
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	
		<context-param>    
		<param-name>ApplicationInterfaceInst</param-name>    
		<!--用逗号分开定义，继承了ApplicationInterface 的spring Bean的名称-->
		<param-value>PoolMsgSender</param-value>    
	</context-param> 
	
	<!-- 定时任务启动 --> 
	<listener>
		<listener-class>com.topspace.core.system.task.TaskListener</listener-class>
	</listener>
	
	<!-- 配置字符集 --> 
  <filter> 
    <filter-name>encodingFilter</filter-name> 
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> 
    <init-param> 
        <param-name>encoding</param-name> 
        <param-value>UTF-8</param-value> 
    </init-param> 
    <init-param> 
        <param-name>forceEncoding</param-name> 
        <param-value>true</param-value> 
    </init-param> 
  </filter> 
  <filter-mapping> 
    <filter-name>encodingFilter</filter-name> 
    <url-pattern>/*</url-pattern> 
  </filter-mapping>
  
  <!-- 处理ThreadLocal，设置访问ip -->
	<filter>
		<filter-name>ThreadLocalFilter</filter-name>
		<filter-class>com.topspace.customer.filter.ThreadLocalFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ThreadLocalFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
  
  
  <!-- 针对xss攻击专用 -->
  	<listener>
			<listener-class>com.github.pukkaone.jsp.EscapeXmlELResolverListener</listener-class>
	</listener>
	
	
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	
	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>*.ad</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		
		<welcome-file>/index.html</welcome-file>
		
		<welcome-file>/index.jsp</welcome-file>
	
	</welcome-file-list>
	
	 <!-- 控制jsp:include的编码 -->
 <jsp-config>  
     <jsp-property-group>  
         <description>  
             Special property group for JSP Configuration HTML example.   
         </description>  
         <display-name>JSPConfiguration</display-name>  
         <url-pattern>*.html</url-pattern>  
         <el-ignored>true</el-ignored>  
         <page-encoding>UTF-8</page-encoding>  
         <scripting-invalid>false</scripting-invalid>  
         <include-prelude></include-prelude>  
         <include-coda></include-coda>  
     </jsp-property-group>  
 </jsp-config> 
	
</web-app>
