<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.topspace.test.entity.TestBo">

  <insert id="insert" parameterType="com.topspace.test.entity.TestBo">
    INSERT INTO demo
      (id, name, sex, age)
    VALUES
      (#{id}, #{name}, #{sex}, #{age})
  </insert>
  
  </mapper>